---
layout: default
---

<div class="row padding flex-spaces flex-center">

  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h2><span class="text-warning">Happy</span> <span class="badge danger">Fucking</span> <span class="text-secondary">Birthday</span></h2>
    </div>
  </div>

  <div class="row padding-small margin-none">
    <div class="lg-12 col padding-none">
      <h3><span class="badge">A</span>manda</h3>
      <p>A Latin female gerundive name meaning <span class="text-warning">"deserving to be loved,"</span> <span class="text-danger">"worthy of love,"</span> or <span class="text-success">"loved very much by everyone."</span></p>
    </div>
  </div>

  <div class="row flex-center">
    <div class="lg-6 md-6 sm-6 col padding-none border border-default shadow shadow-large">
      <img class="float-right" src="{{ "/images/sidelook.jpg" | relative_url }}" alt="Amanda Sidelook">
    </div>
  </div>

</div>

<div class="row padding-small flex-spaces flex-center">
  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h2>Our new memories <span class="badge secondary">together</span> </h2>
    </div>
  </div>
</div>

<div class="row padding-small flex-spaces flex-center">

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="https://i.imgur.com/HzbhpqK.jpg" alt="Amanda Fishing">
      <h3><span class="badge success">Fishing</span> @ Howard Prairie</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="{{ "/images/campwalk.jpg" | relative_url }}" alt="On a walk while camping">
      <h3>On a walk while <span class="badge warning">camping</span></h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="{{ "/images/walk.jpg" | relative_url }}" alt="On a walk">
      <h3>On a walk while <span class="badge">not</span> camping</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="{{ "/images/bass.jpg" | relative_url }}" alt="Caught a bass">
      <h3>Caught a <span class="badge success">bass</span> @ Emigrant lake</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="{{ "/images/crappie.jpg" | relative_url }}" alt="Caught a crappie">
      <h3>Caught a <span class="badge danger">crappie</span> @ Emigrant lake</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="{{ "/images/casual.jpg" | relative_url }}" alt="Caught a crappie">
      <h3><span class="badge secondary">Hangin</span> @ the house</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="{{ "/images/beach.jpg" | relative_url }}" alt="At the house">
      <h3>Oregon Coast trip, <span class="badge warning">Beach</span> walk</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <img src="{{ "/images/museum.jpg" | relative_url }}" alt="Museum trip">
      <h3>Mini date @ the <span class="badge success">Science museum</span></h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <div class="rotate">
        <img class="rotate" src="{{ "/images/corn.jpg" | relative_url }}" alt="Corn maze">
      </div>
      <h3>We made it through the <span class="badge warning">corn maze</span></h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large">
      <div class="rotate">
        <img src="{{ "/images/halloween.jpg" | relative_url }}" alt="Halloween">
      </div>
      <h3>Survived <span class="badge danger">halloween</span> together</h3>
    </div>
  </div>

  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h3>So <span class="badge warning">Happy</span> <span class="text-secondary">Birthday</span></h2>
    </div>
  </div>

  <div class="row flex-center">
    <div class="lg-6 md-6 sm-6 col padding-none border border-default shadow shadow-large">
      <img class="float-right" src="{{ "/images/happy.jpg" | relative_url }}" alt="Happy Amanda">
    </div>
  </div>

  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h4>I <span class="badge danger">love</span> <span class="text-secondary">you</span></h4>
    </div>
  </div>

</div>

<div class="row padding margin flex-center">
  <div class="lg-12 col padding">
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible">
      <label for="collapsible1">One more thing...</label>
      <div class="collapsible-body flex-center">
        <div class="row padding flex-center">
          <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large padding">
            <img src="https://static.wixstatic.com/media/5d815e_8995eb7a819d422bbdfcb5fb2980db22.jpg/v1/fill/w_787,h_525,al_c,q_90,usm_0.66_1.00_0.01/5d815e_8995eb7a819d422bbdfcb5fb2980db22.webp" alt="Hot Tub!">
            <h4><span class="badge secondary">Private</span> hot tub soak at <a class="paper-btn" href="http://www.chozugardens.com/">Chozu Japaneze bath gardens</a>. . . and <span class="badge danger">Diablo iii</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
