---
layout: default
---

<div class="row padding margin-none flex-spaces flex-center background-secondary">

  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h2><span class="text-warning">Happy</span> <span class="badge danger">Fucking</span> <span class="text-secondary">Birthday</span></h2>
    </div>
  </div>

  <div class="row padding-small margin">
    <div class="lg-12 col padding border border-default background-warning">
      <h3><span class="badge">A</span>manda<span class="text-danger">.</span></h3>
      <blockquote>
      <p><span class="text-muted">A Latin female gerundive name meaning</span> <span class="text-warning">"deserving to be loved,"</span> <span class="text-danger">"worthy of love,"</span> <span class="text-muted">or</span> <span class="text-success">"loved very much by everyone."</span></p>
      </blockquote>
        <hr>
      <p>For as long as I have known you, I have found this to be <em>mostly</em> true. <i class="fas fa-grin-tongue-squint"></i>
      </p>
      <p>All kidding aside, I'm happy to have you in my life and I wish you a very happy birthday.</p>
      <p>Even though you have to start on your birthday, congratulations on your new job!!!</p>
    </div>
  </div>

  <div class="row flex-center">
    <div popover-top="The Sidelook" class="lg-6 md-6 sm-6 col padding-none border border-default shadow shadow-large background-primary">
      <img class="float-right" src="{{ "/images/sidelook.jpg" | relative_url }}" alt="Amanda Sidelook">
    </div>
  </div>

</div>

<div class="row padding margin-none flex-spaces flex-center background-success">
  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h2>Our memories <span class="badge secondary">together</span> </h2>
    </div>
  </div>
</div>

<div class="row padding-small flex-spaces flex-center margin-none background-primary">

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="https://i.imgur.com/HzbhpqK.jpg" alt="Amanda Fishing">
      <h3><span class="badge success">Fishing</span> @ Howard Prairie</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="{{ "/images/campwalk.jpg" | relative_url }}" alt="On a walk while camping">
      <h3>On a walk while <span class="badge warning">camping</span></h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="{{ "/images/walk.jpg" | relative_url }}" alt="On a walk">
      <h3>On a walk while <span class="badge">not</span> camping</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="{{ "/images/bass.jpg" | relative_url }}" alt="Caught a bass">
      <h3>Caught a <span class="badge success">bass</span> @ Emigrant lake</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="{{ "/images/crappie.jpg" | relative_url }}" alt="Caught a crappie">
      <h3>Caught a <span class="badge danger">crappie</span> @ Emigrant lake</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="{{ "/images/casual.jpg" | relative_url }}" alt="Caught a crappie">
      <h3><span class="badge secondary">Hangin</span> @ the house</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="{{ "/images/beach.jpg" | relative_url }}" alt="At the house">
      <h3>Oregon Coast trip, <span class="badge warning">Beach</span> walk</h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="https://i.imgur.com/EUbcUmR.jpg" alt="Museum trip">
      <h3>Mini date @ the <span class="badge success">Science museum</span></h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <div class="rotate">
        <img class="rotate" src="https://i.imgur.com/orw3R5P.jpg" alt="Corn maze">
      </div>
      <h3>We made it through the <span class="badge warning">corn maze</span></h3>
    </div>
  </div>

  <div class="row padding flex-center">
    <div class="lg-10 md-8 sm-8 col border border-default shadow shadow-large background-secondary">
      <img src="https://i.imgur.com/RQmg5qJ.jpg" alt="Halloween">
      <h3>Survived <span class="badge danger">halloween</span> together</h3>
    </div>
  </div>

  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h3>So <span class="badge warning">Happy</span> <span class="text-secondary">Birthday</span></h2>
    </div>
  </div>

  <div class="row flex-center">
    <div class="lg-6 md-6 sm-6 col padding-none border border-default shadow shadow-large background-secondary">
      <img class="float-right" src="{{ "/images/happy.jpg" | relative_url }}" alt="Happy Amanda">
    </div>
  </div>

  <div class="row padding-none margin-none">
    <div class="lg-12 col padding-none">
      <h4>I <span class="badge danger">love</span> <span class="text-secondary">you</span></h4>
    </div>
  </div>

</div>

<div class="row padding margin-none flex-center background-primary">
  <div class="lg-12 col padding margin-none">
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible">
      <label for="collapsible1">One more thing... Tap me...</label>
      <div class="collapsible-body flex-center">
        <div class="row flex-center">
          <div class="lg-10 md-8 sm-10 col border border-default shadow shadow-large padding background-warning">
            <img src="https://i.imgur.com/WVGbusX.png" alt="Hot Tub!">
            <h4><span class="badge secondary">Private</span> hot tub soak at <a class="paper-btn" href="http://www.chozugardens.com/">Chozu Japaneze bath gardens</a> . . . and <span class="badge danger">Diablo iii</span> of course</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
